{% extends  "ecofootprint/base.html"%}
{% block title %}Eco Footprint Calculator{% endblock %}
{% block body %}
    <div class="wrapper"><div class="container">
    <h1>
        Welcome
    </h1>
    <p>This is a website of Eco Footprint Calculator - a project made for the Cloud Computing Course during the summer
        semester of 2023/24 on Faculty of Mathematics and Information Science, Warsaw University of Technology. It
    allows users to input their daily activities, see how much carbon footprint they generated, compare with others
    and obtain suggestions on how to reduce the usage.</p>
</div></div>
{% endblock %}